*-bak
.luarc.json
.vscode
\!BugGrabber
AchievementsBackButton
AddonFactory
Altoholic
Altoholic_*
Alts
Auctionator
Baganator
Bartender4
BetterWardrobe
BetterWardrobe_*
BugSack
ChoreTracker
DataStore
DataStore_*
DialogueUI
DMFQuest
FrameColor
FrameColorOptions
GTFO
HealthBarColor
HideSocialButton
IncognitoResurrected
LargerMacroIconSelection
LargerMacroIconSelectionData
MapCoords
Mapster
Masque
Masque*
Narcissus
Narcissus_*
OmniCC
OmniCC_Config
Peddler
Plater
Platynator
Plumber
Prat-3.0
Quartz
SexyMap
SimpleItemLevel
Syndicator
TalentLoadoutManager
TalentLoadoutsEx
TidyPlates
TidyPlates_Graphite
TidyPlates_Grey
TidyPlates_Neon
TidyPlates_Quatre
TidyPlatesHub
TidyPlatesWidgets
/TomTom
/WayPointsNative
WeakAuras
WeakAurasArchive
WeakAurasModelPaths
WeakAurasOptions
WeakAurasTemplates
*.code-workspace
BetterFishing
HandyNotes
HandyNotes_*
NameplateSCT
.DS_Store
DBM-*
WeeklyKnowledge
Details
Details_*
TextureAtlasViewer
ExtendedSets
GatherMate2
ProfessionShoppingList
/Scrap
/Scrap_Config
/Scrap_Merchant
/FastAutoRepair
/Myslot
/KHorrificVisions
/Vendor
*.zip
/MoveAny
/BarrelsOEasy
/AutoKeystone
/MythicPlusTimer
/._git
/.claude
/AngrierWorldQuests
/CityGuide
/CooldownManagerCentered
/EnhanceQoL
/EnhanceQoLSharedMedia
/GatherMate2Storage_Dragonflight
/GatherMate2Storage_Midnight
/GatherMate2Storage_TheWarWithin
/HomeBound
/MogMount
/OPie
/SenseiClassResourceBar
/ShoppingList
/WaypointUI
/Angleur
/FollowTheArrow
